templates/qos_template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template>
  <groupId>22345678-1234-1234-1234-123456789001</groupId>
  <name>qos_template</name>
  <description>Template for QoS Optimization ML Pipeline</description>
  <snippet>
    <processGroups/>
    <connections>
      <connection>
        <id>conn-qos-1</id>
        <sourceId>proc-qos-1</sourceId>
        <destinationId>proc-qos-2</destinationId>
        <name>Connection: EvaluateJsonPath to ReplaceText</name>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <backPressureObjectThreshold>5000</backPressureObjectThreshold>
        <backPressureDataSizeThreshold>500 MB</backPressureDataSizeThreshold>
      </connection>
    </connections>
    <processors>
      <processor>
        <id>proc-qos-1</id>
        <name>EvaluateJsonPath</name>
        <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-processors</artifact>
          <version>1.12.1</version>
        </bundle>
        <position>
          <x>150.0</x>
          <y>150.0</y>
        </position>
        <config>
          <properties>
            <entry>
              <key>Destination</key>
              <value>flowfile-attribute</value>
            </entry>
            <entry>
              <key>json.path.expression</key>
              <value>$.value</value>
            </entry>
          </properties>
          <schedulingPeriod>2 sec</schedulingPeriod>
          <penaltyDuration>30 sec</penaltyDuration>
          <yieldDuration>1 sec</yieldDuration>
          <bulletinLevel>WARN</bulletinLevel>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
        </config>
      </processor>
      <processor>
        <id>proc-qos-2</id>
        <name>ReplaceText</name>
        <type>org.apache.nifi.processors.standard.ReplaceText</type>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-processors</artifact>
          <version>1.12.1</version>
        </bundle>
        <position>
          <x>450.0</x>
          <y>150.0</y>
        </position>
        <config>
          <properties>
            <entry>
              <key>Replacement Value</key>
              <value>Processed QoS Flow</value>
            </entry>
            <entry>
              <key>Search Value</key>
              <value>${json.value}</value>
            </entry>
          </properties>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penaltyDuration>30 sec</penaltyDuration>
          <yieldDuration>1 sec</yieldDuration>
          <bulletinLevel>WARN</bulletinLevel>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
        </config>
      </processor>
    </processors>
    <inputPorts/>
    <outputPorts/>
  </snippet>
  <timestamp>1670000001000</timestamp>
</template>